body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow: auto;
}